body{
    background-image: url('images/15508_breaking_bad.jpg')
}
#results{
    color: white
}
#quiz{
    color: white
}
#QuestionBlock{
    background-color: darkgrey
}
#AnswerBlock{
    text-align: center;
    text-emphasis: bold;
    font-size: 2.5em

}
#timer{
    font-size: 2em;
    color: white
}