body{
    
    background-image: url("15508_breaking_bad.jpg");
    background-size: 100em
}
#results{
    color: white
}
#quiz{
    color: green;
    text-emphasis: bold;
    font-size: 1.25em;
}
#QuestionBlock{
    background-color: rgb(228, 224, 224);
    color: green;
    border: 3px solid black;
}
#AnswerBlock{
    text-align: center;
    text-emphasis: bold;
    font-size: 2.5em

}
#timer{
    font-size: 2em;
    color: white
}